<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/register}" method="post">
        <label for="username">Username:
            <input id="username" type="text" name="username">
        </label><br>
        <label for="email">Email:
            <input id="email" type="text" name="email">
        </label><br>
        <label for="password">Password
            <input id="password" type="password" name="password">
        </label><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>